/*developed and stylized by alastaraven*/

:root {
--white: #fdfdfd; 
--black: #2F373D; 
--gray: #999999; 
--accent-primary: #414B70; 
--accent-secondary: #D99D7F; 
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	font-size: 1rem;
	line-height: 1.2;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	transition: all ease .3s;
}

*::-moz-selection {
	background: var(--accent-primary);
	color: var(--white);
	text-shadow: none;
}

*::selection {
	background: var(--accent-primary);
	color: var(--white);
	text-shadow: none;
}

body::-webkit-scrollbar {
  width: .5em;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 1em;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Unbounded', cursive;
}

.wrapper {
	width: calc(100% - 20em);
	margin: auto;
}


	@media screen and (min-width:768px) and (max-width:1439.99px) {
		.wrapper {
			width: calc(100% - 10em);
		}
	}
	
	@media screen and (max-width:767.99px) {
		.wrapper {
			width: 100%;
		}
	}

.header {
	display: flex;
	position:-webkit-sticky;
	position:sticky;
	z-index: 99;
	margin: 0 auto;
	top: 1.5em;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
}

.header__layout {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	border-radius: 2.5em;
	box-shadow: 0px 8px 24px 0px #414b7014;
	background-color: rgba(253, 253, 253, 0.8);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
}

.header__nav-menu {
	display: flex;
	gap: .5em;
}

/* Nav menu */
.nav {
	display: none;
	opacity: 0;
  width: 100%;
  position: absolute;
	top: 0%;
	left: 0;
	z-index: 0;
	list-style: none;
}
.menu {
	display: flex;
	flex-flow: column wrap;
	gap: 1em;
	padding: 4em 1.5em 1.5em 1.5em;
	border-radius: 2.5em;
	background-color: var(--white);
	box-shadow: 0px 8px 24px 0px #414b7014;
	width: 100%;
	height:-webkit-min-content;
	height:-moz-min-content;
	height:min-content;
	background-color: var(--white);
	transition: all .3s ease;
}
.menu a {
  display: inline-block;
	border-radius: .5em;
  padding: .5em 1em;
  color: var(--black);
	font-weight: 600;
}
.menu a:hover {
  background-color: var(--black);
	color: var(--white);
}
.nav {
  max-height: 0;
  transition: all .3s ease;
}
a.active {
	background-color: var(--black);
	color: var(--white);
}

.hamb {
	display: none;
	cursor: pointer;
	padding: 1em;
	z-index: 1;
} /* Style label tag */

.hamb-line {
	background: var(--black);
	display: block;
	height: 2px;
	position: relative;
	width: 1.5em;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
	background: var(--black);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .3s ease;
	width: 100%;
}
.hamb-line::before{
	top: 5px;
}
.hamb-line::after{
	top: -5px;
}

.side-menu {
	display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ .nav{
    max-height: 100%;
		opacity: 1;
		transition: all .3s ease;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

@media screen and (max-width:1279.99px) {
	.header__nav-menu {
		display: none;
	}
	.header__layout {
		background-color: var(--white);
		padding: 1em;
	}
	.hamb {
		display: block;
	}
	.nav {
		display: block;
	}
}

@media screen and (max-width:767.99px) {
	.header {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

.nav-menu__item {
	color: var(--black);
} 

.nav-menu__item:active, 
.nav-menu__item:focus, 
.nav-menu__item:focus-visible,
.nav-menu__item:focus-within {
	background-color: var(--black);
} 

.nav-menu__item-link {
	color: var(--black);
	padding: 0.5em 1em;
	border-radius: 0.5em;
	font-weight: 600;
	background-color: transparent;
}

.nav-menu__item-link:hover,
.nav-menu__item-link:active, 
.nav-menu__item-link:focus, 
.nav-menu__item-link:focus-visible, 
.nav-menu__item-link:focus-within	{
	background-color: var(--black);
	color: var(--white);
} 

a.nav-menu__item-link--active {
	background-color: var(--black);
	color: var(--white);
	padding: 0.5em 1em;
	border-radius: 0.5em;
}

.header__logo {
	position: absolute;
	margin: 0 45%;
	z-index: 10;
}

.social-icons {
	display: flex;
	gap: 1.5em;
	padding-right: 1em;
}

.social-icons__item-link {
	width: 2em;
	height: 2em;
	padding: 0.5em;
	background-color: var(--accent-primary);
	color: var(--white);
	border-radius: 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

a.social-icons__item-link {
	display: flex;
}

a.social-icons__item-link:hover,
a.social-icons__item-link:active, 
a.social-icons__item-link:focus, 
a.social-icons__item-link:focus-visible, 
a.social-icons__item-link:focus-within {
	background-color: var(--black);
}

.nav .menu .social-icons {
	padding-left: 1em;
}

.hero-section {
		margin-top: 6.25em;
		margin-bottom: 12.5em;
		position: relative;
	}

.hero__subtitle {
	color: var(--accent-primary);
  font-size: 1.5em;
  font-weight: 300;
  font-family: 'Unbounded', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  white-space: nowrap;
}

.hero__title {
	color: var(--black);
	font-size: 8rem;
	font-size: 7.02vw;
	line-height: 1.2;
	font-weight: 700;
}

.hero__text {
	margin-top: 6.25em;
	margin-left: 2.5em;
	width: 30vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: rgba(253, 253, 253, 0.8);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
  box-shadow: 0px 8px 16px 0px #414b7014;
}

.hero__text-list {
	display: flex;
	flex-flow: column wrap;
	gap: 1.5em;
	list-style: none;
	line-height: 1.5;
}

.hero__button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--white);
	position: absolute;
  left: 45%;
  bottom: 0;
  width: 10em;
  height: 10em;
  text-align: start;
  padding: 1.5em;
  border-radius: 10em;
  background-image: radial-gradient( ellipse 113.13707824635208px 229.7015142369119px at 80.00001210149438px 80.00001210149293px, var(--black) 0%, var(--accent-primary) 100% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
	z-index: 1;
	transition: all ease .3s;
}

.hero__image {
	width: 45vw;
	height: auto;
	position: absolute;
	top: -10vh;
	right: 0;
	z-index: 0;
}

.hero__button:hover, 
.hero__button:active, 
.hero__button:focus, 
.hero__button:focus-visible, 
.hero__button:focus-within {
	background-image: radial-gradient( ellipse 113.13707824635208px 229.7015142369119px at 80.00001210149438px 80.00001210149293px, var(--black) 0%, var(--accent-primary) 50% );
	background-size: 100% 100%;
  transform: scale(1.2);
	transition: all ease .5s;
}

@media screen and (max-width:1439.99px) {
	.hero__image {
		top: -5em;
		z-index: -1;
	}
	.hero__button {
		bottom: 20vh;
	}
	.hero__text {
		margin-top: 3.125em;
		margin-left: 0em;
		z-index: 1;
	}
}

@media screen and (max-width:1279.99px) {
	.hero-section {
    margin-top: 6.25em;
    margin-bottom: 6.25em;
    position: relative;
	}
	.hero__subtitle {
		font-size: 1rem;
	}
	.header__logo {
		margin: 0 38vw;
	}
}

.section__layout {
	margin-top: 10em;
	margin-bottom: 10em;
	display: flex;
	flex-direction: column;
	gap: 5em;
}
.h2-heading {
	color: var(--black);
	font-size: 4rem;
	line-height: 1.2;
	font-size: 3.34vw;
	font-weight: 600;
}

@media screen and (max-width:1279.99px) {
	.section__layout {
		margin-top: 5em;
		margin-bottom: 5em;
		gap: 2.5em;
	}
}

@media screen and (max-width:1023.99px) {
	.header__logo {
    margin: 0;
		position: unset;
		padding-right: 1em;
	}
}

@media screen and (max-width:767.99px) {
	.section__layout {
		padding: 0 1.5em;
		text-align: center;
	}
	.padding-none {
		padding: 0;
	}
	.h2-heading {
		font-size: 2rem;
		margin: 0 auto;
	}
	.hero-section {
    margin-left: 1.5em;
    margin-right: 1.5em;
	}
	
	.hero__subtitle {
		font-size: 3vw;
	}
	.hero__text {
		width: 100%;
	}
	.hero__button {
		position: unset;
    margin: 1.5em auto;
	}
	.hero__image {
		top:-5vh
	}
}

.portfolio__grid {
	display: grid;
	grid-gap: 5em;
	grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio__grid-item {
	width: 100%;
	height: 21.25em;
	border-radius: 1.5em;
	background-image: url(/doctor_dzotsoev/assets/images/img-inst_1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width:1279.99px) {
	.portfolio__grid {
		grid-gap: 2.5em;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}
	.portfolio__grid-item {
		height: 10.625em;
	}
}

@media screen and (max-width:767.99px) {
	.portfolio__grid {
		grid-gap: 1.5em;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}
}

.reviews__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 5em;
}

.reviews__row-item {
	width: 100%;
	display: flex;
	flex-direction: column;
  align-items: center;
	text-align: start;
  gap: 1.5em;
  padding: 1.5em;
  border-radius: 1.5em;
  background-color: var(--white);
  box-shadow: 0px 8px 16px 0px #414b7014;
}

.row-item__image {
	width: 6.25em;
	height: 6.25em;
	border-radius: 100%;
	background: #D9D9D9;
}

.row-item__date {
	color: var(--gray);
}

.row-item__reviews-info {
	display: flex;
	gap: 0.5em;
	flex-direction: column;
	align-items: center;
}

.reviews-info__number {
	font-size: 1.5rem;
	color: var(--black);
}

.reviews-info__raiting {
	width: 6.25em;
  height: 1.25em;
}

.row-item__text-block {
	width: 100%;
  height: 10em;
  border-radius: 1em;
	border: inset 1.5em transparent;
  background-color: #f5f5f5;
  overflow-x: hidden;
	overflow-y: scroll;
}

.row-item__text-block::-webkit-scrollbar {
  width: .2em;
}
.row-item__text-block::-webkit-scrollbar-track {
  background: transparent;
}
.row-item__text-block::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 1em;
  border: none;
}

.row-item__link {
	color: var(--gray);
  text-decoration: underline;
  white-space: nowrap;
}
.reviews__button {
	display: flex;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  align-items: center;
	align-self: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  outline: solid 1px var(--accent-primary);
  outline-offset: -1px;
  border-radius: 1.5em;
	white-space: nowrap;
  background-color: transparent;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: var(--accent-primary);
}

.reviews__button:hover,
.reviews__button:active, 
.reviews__button:focus, 
.reviews__button:focus-visible, 
.reviews__button:focus-within {
	outline: solid 1px var(--black);
	color: var(--black);
}

@media screen and (max-width:1279.99px) {
	.reviews__row {
		flex-direction: column;
		gap: 1.5em;
	}
}

@media screen and (max-width:767.99px) {
	.reviews__button {
		width: 100%;
		gap: .5rem;
		justify-content: center;
		font-size: 1rem;
		flex-wrap: wrap;
	}
	.reviews__button img {
		height: 1rem;
	}
	.row-item__text-block {
		border-width: 1em;
	}
}

.prices__grid {
	display: grid;
	grid-gap: 2.5em;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.prices__grid-item {
	width: 100%;
	height: 25em;
	flex-direction: column;
	border-radius: 1.5em;
	background-color: var(--white);
	overflow: hidden;
	box-shadow: 0px 8px 16px 0px #414b7014;
}

.prices__grid-item--face {
	align-items: center;
	color: var(--black);
	height: 100%;
	transition: all ease .3s;
	transform: translateY(0%);
}

.prices__grid-item--back {
	text-align: left;
	border-radius: 1.5em;
	opacity: 0;
	height: 0%;
	color: var(--white);
	background: radial-gradient(105.02% 100% at 100% 100%, #414B70 0%, #2F373D 100%);
	transition: all ease .3s;
}

.prices__grid-item:hover .prices__grid-item--back {
	display: flex;
	opacity: 1;
	height: 100%;
	padding: 1.5em;
	transition: all ease .3s;
}

.prices__grid-item:hover .prices__grid-item--face {
	opacity: 0;
	height: 0%;
	transition: all ease .3s;
	transform: translateY(-10em);
}

.grid-item__image {
	width: 100%;
}

.grid-item__text-block {
	padding: 1.5em;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	display: flex;;
  flex-direction: column;
	justify-content: center;
	text-align: center;
  align-items: center;
	align-self: center;
}

.text-block__title {
	font-size: 1.5rem;
}

.text-block__subtitle {
  font-size: 2.5rem;
	line-height: 1.2;
  font-weight: 500;
  font-family: 'Unbounded', sans-serif;
	display: flex;
	gap: 0.2em;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.text-block__subtitle::before,
.text-block__subtitle::after {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 1rem;

}
.text-block__subtitle::before {
	content: 'от';
}
.text-block__subtitle::after {
	content: 'тыс ₽';
}

.grid-item__text-block--back {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	height: -webkit-fill-available;
	overflow-y: auto;
}

.grid-item__text-block--back::-webkit-scrollbar {
  width: .2em;
}
.grid-item__text-block--back::-webkit-scrollbar-track {
  background: transparent;
}
.grid-item__text-block--back::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 1em;
  border: none;
}

.text-block--back__row-list {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.text-block--back__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-block--back__row-subtitle {
	font-family: 'Unbounded', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.2;
	display: flex;
	gap: .2em;
	align-items: center;
	white-space: nowrap;
}
.text-block--back__row-subtitle::before, 
.text-block--back__row-subtitle::after {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: .5rem;
}
.text-block--back__row-subtitle::before {
	content: 'от';
}
.text-block--back__row-subtitle::after {
	content: 'тыс ₽';
}

@media screen and (max-width:1279.99px) {
	.prices__grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
		padding-bottom: 2.5em;
	}
	.prices__grid-item {
    width: 100%;
		height: 25em;
	}
	.grid-item__image img {
		width: 100%;
		height: 15em;
		-o-object-fit: cover;
		object-fit: cover;
	}
}
@media screen and (max-width:767.99px) {
	.prices__grid {
		display: flex;
		gap: 1.5em;
		width: 100%;
		padding: 1.5em;
    flex-wrap: nowrap;
		overflow-x: auto;
		-ms-scroll-snap-type: x mandatory;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
	}
	.prices__grid-item {
		width: 80vw;
		flex: none;
		scroll-snap-align: center;
	}
	.text-block--back__row {
		flex-wrap: wrap;
	}
}

.form {
	color: var(--white);
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5em;
  padding: 2.5em;
  border-radius: 2.5em;
  background-image: radial-gradient( ellipse 100% 100% at 50% 50%, #414b70ff 0%, #1e1e1eff 100% );
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

.title {
	font-size: 2rem;
	font-family: 'Unbounded', sans-serif;
}

.form__input-block {
	display: flex;
	flex-direction: column;
	gap: .5em;
	width: 100%;
}

.form__input-row {
	display: flex;
	gap: 1.5em;
	width: 100%;
}

.form__input {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	padding: 1em;
  outline: solid 1px #fdfdfdcc;
  outline-offset: -1px;
  border-radius: 1.5em;
	background-color: transparent;
	color: var(--white);
	font-size: 1rem;
}

.form__input::-webkit-input-placeholder {
	color: var(--white);
	opacity: .8;
}

.form__input::-moz-placeholder {
	color: var(--white);
	opacity: .8;
}

.form__input:-ms-input-placeholder {
	color: var(--white);
	opacity: .8;
}

.form__input::-ms-input-placeholder {
	color: var(--white);
	opacity: .8;
}

.form__input::placeholder {
	color: var(--white);
	opacity: .8;
}

.form__input:hover, .form__input:active, .form__input:focus{
	outline: solid 1px var(--white);
}

.form__button {
	width: 100%;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1rem;
	padding: 1em;
	border-radius: 1.5em;
	background-color: var(--accent-secondary);
	opacity: .8;
	color: var(--white);
	cursor: pointer;
}

.form__button:hover {
	opacity: 1;
}

.form__text {
	text-align: end;
	opacity: 0.8;
}
.form__link {
	text-decoration: underline;
	color: var(--white);
	opacity: 0.8;
}
.form__link:hover {
	opacity: 1;
}

@media screen and (max-width:767.99px) {
	.form {
		text-align: center;
		align-items: center;
	}
	.form__input-row {
		flex-direction: column;
	}
		.title {
			font-size: 1.5rem;
		}
		.form__text {
			text-align: center;
		}
	}

.media__row {
	display: flex;
	gap: 5em;
	align-items: center;
	justify-content: space-between;
}
.media___row-item {
	width: 100%;
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
	height: 15em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1.5em;
	border-radius: 1.5em;
	background-color: var(--white);
	box-shadow: 0px 8px 16px 0px #414b7014;
	transition: all ease .3s;
}
.media___row-item:hover {
	transform: scale(1.1);
	transition: all ease .3s;
}
.media___item-block {
	display: flex;
	flex-direction: column;
}
.media___item-title {
	color: var(--black);
	font-size: 1.5rem;
	line-height: 1.2;
}
.media___item-date {
	text-transform: uppercase;
	color: var(--accent-primary);
  font-size: .5rem;
  font-weight: 600;
}
.media___item-link {
	text-transform: uppercase;
	color: var(--gray);
  font-size: 1rem;
  font-weight: 300;
}

@media screen and (max-width:1279.99px) {
	.media__row {
		gap: 1.5em;
		flex-wrap: wrap;
	}

}
@media screen and (max-width:767.99px) {
	.media__row {
		width: 100%;
		padding: 1.5em;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
	}
	.media___row-item {
		width:80vw;
		height: 20em;
		flex: none;
		text-align: start;
		scroll-snap-align: center;
	}
	.media___row-item:hover {
		box-shadow: unset;
		transform: scaleX(1);
	} 
}

.contacts {
	text-align: start;
	padding: 2.5em;
	height: 43.75em;
	border-radius:  2.5em;
	background-image: url(/doctor_dzotsoev/assets/images/map.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.contacts__block {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	padding: 2.5em;
	border-radius: 2.5em;
	box-shadow: 0px 8px 16px 0px #414b7014;
	background-color: rgba(253, 253, 253, 0.8);
	-webkit-backdrop-filter: blur(80px);
	backdrop-filter: blur(80px);
}

.contacts__block-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.contacts__heading {
  font-weight: 600;
  text-transform: uppercase;
}
.contacts__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}

.contacts__text-phone {
	display: flex;
	flex-direction: column;
}
.contacts__link {
	color: var(--black);
}
.text-phone__subtext {
	font-size: .5rem;
	font-weight: 600;
}

@media screen and (max-width:1279.99px) {
	.contacts {
		margin-top: 50%;
		height: 30em;
	}
	.contacts__block {
		width: 100%;
		height: min-content;
		gap: 1em;
		margin-top: -50%;
	}
}

@media screen and (max-width:767.99px) {
	.contacts, .contacts__block {
		padding: 1.5em;
		border-radius: 1.5em;
	}
	.contacts__text {
		font-size: 1rem;
		gap: .5em;
		flex-wrap: wrap;
	}
	.social-icons {
    display: flex;
    gap: 1em;
	}
	.hide-on-mobile {
		display: none;
	}
}

@media screen and (min-width:768px) {
	.social-icons {
		z-index: 1;
	}
	.nav .menu .social-icons {
		display: none;
	}
}

.footer {
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
	background-image: radial-gradient( ellipse 1919.999999997494px 143.02308741620934px at 960.0000584524441px 0.0000032582888520593656px, #414b70ff 0%, #2f373dff 100% );
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

.footer__layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--white);
	padding: 2.5em 0;
}

.footer__col, .footer__col--right {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.footer__logo {
	width: auto;
}

.footer__link {
	align-self: center;
	color: var(--white);
	font-weight: 600;
}

.footer__col--right {
	align-items: flex-end;
}

.footer__row {
display: flex;
gap: 1.5em;
}

@media screen and (max-width:1023.99px) {
	.footer__layout {
		flex-direction: column;
		gap: 1.5em;
	}
	.footer__col, .footer__col--right {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width:767.99px) {
		.footer__layout {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
	}

/*developed and stylized by alastaraven*/





